@{
}
<div id="content">
    <div class="row topnavbar">
        <div class="elrow text-center" style="padding:10px 0px 0px;font-size:34px;">
            <p class="change">请修改密码</p><p style='color:red;display: none ' class="change_password_p"></p>
        </div>
    </div>
    <div class="graybg">
        <div class="elrow">
            <form role="form" id="changeuserform" action="" method="post">
                <div class="form-group">
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="旧密码 : ">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="pwd" placeholder="新密码 :">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pass" name="password" placeholder="重复密码: ">
                </div>
                <div class="form-group">
                    <button type="button" class="ensure btn btn-info " v-on:click="submit">提交</button>
                    <button type="button" class="ensure btn hfgray " style=" border: 1px solid #ccc ;float: right" v-on:click="cancel">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section headscripts{
    <style>
        #changeuserform {
            width: 441px;
        }

        .form-control {
            height: 34px;
        }

        .topnavbar {
            width: 100%;
            margin-bottom: 20px;
        }

        .graybg {
            margin: 0 auto;
            width: 80%;
            height: 418px;
        }

        .elrow {
            width: 50%;
            margin: 0 auto;
        }

        .elrow > p {
            text-align: center;
            padding: 25px 0 25px;
            font-size: 18px;
            color: #CDCDCD;
            width: 100%;
        }

        .ensure {
            width: 49%;
            height: 34px;
            margin-top: 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
        }
    </style>
}
@section scripts
{
    <script>
    $(function(){
        $("#user").attr("class", "active itemscore");
        var vm = new Vue({
            el: '#content',
            data: {
                adddata: { oldpassword: "", password: "",     pwd:"", url: "" }
            },
            methods: {
                cancel:function () {
                    $('#changeuserform').data('bootstrapValidator').resetForm(true);
                } ,
                submit:function(){
                    var oldpassword=$("#oldpassword").val();
                    var password=$("#password").val();
                    var  pwd=$("#pass").val();
                    vm.adddata.oldpassword=oldpassword;
                    vm.adddata.password=password;
                    vm.adddata.pwd=pwd;
                    vm.adddata.url='@Url.Content("~/user/changepassword")';
                      $('#changeuserform').data('bootstrapValidator').updateStatus('password', 'NOT_VALIDATED').validateField('password');
                      $('#changeuserform').data('bootstrapValidator').validateField('password');
                      $('#changeuserform').data('bootstrapValidator').validate();
                     if ($('#changeuserform').data('bootstrapValidator').isValid()) {
                        var callback = function (data) {
                            if(data.Success==0){
                                $(".change_password_p").html(data.Message);
                                $(".change").css("display","none");
                                $(".change_password_p").css("display","block");
                                return false
                            }else {
                                window.location='@Url.Action("index","home",new { customercompanyid = ViewBag.CompanyID })'
                            }
                        };
                        ggajax(vm.adddata.url ,vm.adddata, callback);
                    }
                    else {
                        $('#changeuserform').data('bootstrapValidator').validate();
                    }
                },
            },
            mounted: function () {
                pubload();
                $('#changeuserform').bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        oldpassword:{
                            validators: { notEmpty: { message: '不能为空' } }
                        },
                        pwd:{
                            validators: { notEmpty: {  message: '不能为空' }}
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '不能为空'
                                },
                                identical: { field: 'pwd', message: '两次输入不同' }
                            }
                        }
                    }
                }).on('success.form.bv', function (e) {
                });
            },
        })
    })
    </script>
}