<style>
    .title {
        height: 50px;
        width: 250px;
        background-color: #FF553B;
        line-height: 50px;
        padding-left: 15px;
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
    }

    .title .tcont {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #fff;
        float: right;
        margin-right: -25px;
    }

    table.hftable {
        font-family: '黑体';
        font-size: 16px;
        outline: 1px solid #ddd;
    }

    table.hftable > thead > tr > th {
        height: 71px;
        font-size: 20px;
        text-align: center;
    }

    table.hftable > tbody > tr > td {
        padding: 25px 40px;
        line-height: 22px;
    }

    table.hftable tr td:first-child,
    table.hftable tr th:first-child {
        background-color: #FEF3F1;
        text-align: center;
        vertical-align: top;
    }

    table.hftable > tbody > tr:nth-child(odd) {
        background-color: #F6FBFF;
    }

    table.hftable > tbody > tr:nth-child(odd) > td:first-child {
        background-color: #f5f4f6;
    }

    span.bluebg {
        background-color: #0284DE;
        color: #fff;
    }

    p.btitl {
        font-size: 16px;
        font-weight: 800;
    }

    span.redc {
        color: #f00;
        font-size: 20px;
    }
</style>

<div class="row" style="margin: 0 auto;padding-bottom:40px;">
    <div class="row" style="margin: 0 auto;">
        <div class=" col-lg-12 col-md-12">
            <div class="title">
                海关认证企业标准说明
                <div class="tcont"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0 auto;">
        <div class="col-lg-12 col-md-12">
            <table class="hftable" style="width:100%;">
                <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2  "></th>
                        <th class="col-lg-5 col-md-5">高级认证企业标准</th>
                        <th class="col-lg-5 col-md-5">一般认证企业标准</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=" ">认证标准的<span class="redc" > 分类</span></td>
                        <td>
                            认证标准分为内部控制、财务状况、守法规范、贸易安全和附加标准，
                            <span class="bluebg">共5大类18条32项。</span>
                            其中前四类为基础标准，第五类为附加标准。<span class="bluebg">（比一般认证企业标准多5.进出口活动/9.信息系统/10.数据管理三项）</span>
                        </td>
                        <td>
                            认证标准分为内部控制、财务状况、守法规范、贸易安全和附加标准，
                            <span class="bluebg">共5大类18条29项。</span>
                            其中前四类为基础标准，第五类为附加标准。<span class="bluebg">（比高级认证企业标准少5.进出口活动/9.信息系统/10.数据管理三项）</span>
                        </td>
                    </tr>
                    <tr>
                        <td class=" ">认证标准的<br /><span class="redc">赋分规则</span></td>
                        <td colspan="2">
                            <p class="btitl">基础标准赋分规则 </p>
                            赋分选项分为两种，一是“达标（0分）”、“不达标（-2分）”;二是“达标（0分）”、“部分达标（-1分）”、“不达标（-2分）”。<br />
                            达标:企业实际情况符合该项标准。该项标准中有分项标准（用“（1）”、“（2）”、“（3）”等表示）的，也应符合每个分项标准。<br />
                            部分达标:企业实际情况基本符合该项标准。该项标准中有分项标准（用“（1）”、“（2）”、“（3）”等表示）的，也应基本符合每个分项标准。<br />
                            不达标:企业实际情况不符合该项标准。<br />
                            相关标准项不适用于该经营类别企业的，海关不再对该项标准进行认证。<br />
                            <p class="btitl">附加标准赋分规则</p>
                            设定“符合（2分）”和“不适用（0分）”选项。附加标准分值最高为2分，不重复记分。
                        </td>
                    </tr>
                    <tr>
                        <td class=" ">认证标准的<br /><span class="redc">通过条件</span></td>
                        <td colspan="2">
                            企业同时符合下列两个条件并经海关认定的，通过认证:<br />
                            （一）所有赋分项目均没有不达标(-2分)情形;（二）认证标准总分在95分（含本数）以上。 <br />
                            认证标准总分=100+（所有赋分项目得分总和）
                        </td>
                    </tr>
                    <tr>
                        <td class=" ">认证企业的<br /><span class="redc">自我评估</span></td>
                        <td colspan="2">企业向海关提出适用认证企业管理申请前，应当按照认证标准进行自我评估，并将自我评估报告随认证申请一并提交海关。</td>
                    </tr>
                    <tr>
                        <td class=" ">规范改进情形的适用</td>
                        <td>
                            除认证标准
                            <span class="bluebg">12.会计信息、13.偿付能力、14.盈利能力、15.缴税能力、17.企业违法、22.管理要求、23.外部信用</span>
                            外，其他项不达标或者部分达标的，允许企业规范改进。规范改进期限由海关确定，最长不超过90日。根据企业规范改进情况，海关认定其是否通过认证。
                        </td>
                        <td>
                            除认证标准
                            <span class="bluebg">9.会计信息、10.偿付能力、11.盈利能力、12.缴税能力、14.企业违法记录、19.管理要求、20.外部信用</span>
                            外，其他项不达标或者部分达标的，允许企业规范改进。规范改进期限由海关确定，最长不超过90日。根据企业规范改进情况，海关认定其是否通过认证。
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#Center").attr("class", "active center");
        pubload();
    })
</script>