@*联系我们页面*@
<style>
#content .row {
    margin:0 auto;    
}
.pagetitle {
    text-align:center;
    margin:15px 0 50px;    
}
.contarea {
    width:48%;
    display:inline-block;
    vertical-align: top;  
    background:#f3faff;
    border:1px solid #e6eaed;
    padding:15px;
}
.imgtitle {
    border-bottom:1px solid #e6eaed;
    padding-bottom:15px;
    margin-bottom:15px;
}
.tel_chat {
    width:45%;
    display:inline-block;
    vertical-align: top;    
}
.tel_chat img{    width:34%;margin-right:5px;}
.contmsg {    margin-top:50px;    }
.contmsg  h4,   .contmsg  p {    font-size:16px;}
.contmsg h4 {    color:#999999; 
}
.contmsg p {    color:#333333;}
</style>
<div class="row pagetitle"  >     
    <div style="display:inline-block;font-size:58px;color:#999999;">C</div>
    <div style="display:inline-block;">
        <div style="font-size:24px;height:30px;font-weight:600;">联系我们</div>
        <div style="font-size:18px;color:#999999;">ontanct us</div>
    </div>   
</div>
<div class="row contmsg" >
    <div class="contarea">
        <div class="row imgtitle" >
           <img src="/Content/image/location.png" />
        </div>
        <div class="row">
            <h4>地址:</h4>
            <p>广东省 深圳市 南山区 学苑大道 南山智园B1栋14楼</p>
        </div>
        <div class="row">
            <h4>附近公交车站:</h4>
            <p>南山智园（m217 m343 m393 m460 高峰专线94路）</p>
        </div>
        <div class="row">
            <h4>附近地铁: </h4>
            <p>长岭陂地铁站 塘朗地铁站</p>
        </div>       
    </div>

    <div class="contarea" style="margin-left:3%;">
        <div class="row imgtitle">
            <img src="/Content/image/phone.png" style="margin-right:45%;"/><img src="/Content/image/chat.png" />           
        </div>
        <div class="row area_bottom">
            <div class="tel_chat" style="border-right:1px solid #e6eaed;" >
                <div class="row">
                    <h4>客服热线:</h4>
                    <p>400-058-0515</p>
                </div>
                <div class="row">
                    <h4>海关AEO认证交流社群(QQ):</h4>
                    <p>51741107</p>
                </div>
                <div class="row">
                    <h4>云报关QQ交流群: </h4>
                    <p>144257300  /  51391938</p>
                </div> 
            </div>
            <div class="tel_chat" style="margin-left:5%;" >
               <div style="margin-bottom:20px;">
                   <img src="/Content/image/chat_htg.jpg" />
                   <div style="display:inline-block;">
                    <h4>微信搜索公众号:</h4>
                    <p>慧通关</p>
                   </div> 
               </div>
                <div>
                   <img src="/Content/image/chat_htg.jpg" />
                    <div  style="display:inline-block;">
                    <h4>云报关微信号:</h4>
                    <p>YBGyunbaoguan</p>
                    </div>
               </div>
            </div>
        </div>      
    </div>

</div>
<p style="margin:35px 0 15px;font-size:16px;">地址展示</p>
<div class="row"  >
     <div style="width:100%;height:530px;box-shadow: 0 0 20px rgba(0,0,0,0.2);"  id="dituContent"></div>
</div>
@section scripts{
    <script ="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<script>
    function initMap() {
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(114.009478, 22.600454);//定义一个中心点坐标
        map.centerAndZoom(point, 17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }

    //地图控件添加函数：
    function addMapControl() {
        //向地图中添加缩放控件
        var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
        map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
        var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
        map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
        var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
        map.addControl(ctrl_sca);
    }

    //标注点数组
    var markerArr = [{
        title: "深圳市慧通关网络科技有限公司",
        content: "<br/>客服热线：400-058-0515<br/>QQ：144257300/51391938<br/>地址：广东省深圳市南山区学苑大道南山智园B1栋14楼",
        point: "114.009478|22.600454",
        isOpen: 1,
        icon: { w: 23, h: 25, l: 46, t: 21, x: 9, lb: 12 }
    }];
    //创建marker
    function addMarker() {
        for (var i = 0; i < markerArr.length; i++) {
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0, p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point, { icon: iconImg });
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                borderColor: "#52a7ff",
                color: "#333",
                cursor: "pointer"
            });

            (function () {
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click", function () {
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open", function () {
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close", function () {
                    _marker.getLabel().show();
                })
                label.addEventListener("click", function () {
                    _marker.openInfoWindow(_iw);
                })
                if (!!json.isOpen) {
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }

    //创建InfoWindow
    function createInfoWindow(i) {
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json) {
        var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
            imageOffset: new BMap.Size(-json.l, -json.t),
            infoWindowOffset: new BMap.Size(json.lb + 5, 1),
            offset: new BMap.Size(json.x, json.h)
        });
        return icon;
    }
    initMap();//创建和初始化地图

    $(function () {
        $("#Center").attr("class", "active center");
        pubload();
    });

</script>

}